[defaults]
inventory = inventory/hosts.yaml
vault_password_file = .vault-password
roles_path = roles
interpreter_python = auto_silent
# Nicer output: show diffs of changed files
stdout_callback = default
[diff]
always = True
