apiVersion: v1
kind: Secret
metadata:
  name: core-infra-repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  url: {{ argocd_core_infra_repo_url }}
  username: git
  password: {{ argocd_repo_github_pat }}
